<div class="container border my-4 py-3">
    <%= render 'header' %>
    <h3 class="text-primary">Create a New To-do Item</h3>
    <%= form_for @todo_item do |f| %>

    <%= label_tag(:content, "To-Do Content:") %>
    <%= f.text_field :content %></br>

    <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
</div>